@keyframes lines {
    0% {
        background-position: 0 0
    }
    50% {
        background-position: 0 0
    }
    51% {
        background-position: 0 2px
    }
    100% {
        background-position: 0 2px
    }
}

.interlaced {
    background: repeating-linear-gradient(transparent 0px 2px, hsl(154 0% 0%/.3) 2px 4px);
    animation: lines 0.066666666s linear infinite;
}